lockfile-version=3
@quipnex-team:registry=https://npm.pkg.github.com/
# Auth token should be set via environment variable NODE_AUTH_TOKEN
# For local development, add to ~/.npmrc:
# //npm.pkg.github.com/:_authToken=YOUR_PERSONAL_ACCESS_TOKEN
# For CI/CD, this is handled automatically via GitHub Actions secrets